* {
  transition: all .5s;
}

/*Global variable*/
@mainFont: 'Arial', sans-serif;
@mainColor: #fed136;
@mainFontWeight: bold;
@formPadding: 10px 10px;

/*mixin*/
/*wrapper to section mixin*/
.wrapperToSection {
  padding: 120px 0;
  text-align: center;
}

/*main font style*/
.font (@fontSize: 14px) {
  font-family: @mainFont;
  text-transform: uppercase;
  font-size: @fontSize;
}

/*description to sections*/
.descr {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}

/*h5 main style*/
.h2Title {
  margin-top: 0;
  font-weight: @mainFontWeight;
  color: #222222;
  margin-bottom: 10px;
  .font(40px);
}

/*h5 main style*/
.h5Title {
  margin-bottom: 10px;
  font-weight: @mainFontWeight;
  color: #222;
  .font(18px);
}

/*float mixin left & right*/
.left {
  float: left;
  text-align: right;
}

.right {
  float: right;
  text-align: left;
}

/*button style class*/
.button {
  height: 65px;
  width: 240px;
  display: inline-block;
  padding: 20px 30px;
  background: @mainColor;
  font-weight: @mainFontWeight;
  color: white;
  border: none;
  cursor: pointer;
  .font(22px);

  -webkit-border-radius: 4px;
}

/*class fixed & default header class*/
.fixed {
  position:fixed;
  top:0; left:0;
  width:100%;
  background: #222222;
  border-bottom: solid 2px @mainColor;
  opacity: 0.8;
  height: 30px;
}

/*header fixed class*/
.default {
  background: none;
}

//hover text description item portfolio cell
.hoverText {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto Slab";
  margin-top: 50px;
  font-weight: bold;
}

/*Clearfix class*/
.clearfix() {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    line-height: 0;
    content: "";
  }

  &:after {
    clear: both;
  }
}

//border radius mixin
.borderRadiusSizing {
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/*Container for section content*/
.container {
  width: 940px;
  margin: 0 auto;
}

/*li toggle*/
.liToggle {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 10px 30px;
}

/* Main */
/*Header*/
header {
  .container;
  .clearfix;
  position: absolute;
  width: 100%;
  padding: 20px 0 20px 0;
  z-index: 100;

  .logo > a {
      float: left;
      padding: 10px 0 0 230px;
  }

  .toggle {
    display: none;
  }

  ul {
    float: right;
    padding: 0 200px 0 0;

    li {
      list-style: none;
      float: left;
      margin-right: 40px;

      a {
        text-decoration: none;
        color: white;
        .font(14px);

        &:hover {
          color: @mainColor;
        }
      }

      a.active {
        border-bottom: solid @mainColor 2px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

/*Home page*/
#home {
  position: relative;
  .home {
    height: 500px;
    padding-top: 200px;
    text-align: center;
    color: white;
    background-image: url("/assets/img/home-bg.jpg"), url("../../assets/img/home-bg.jpg");
    background-size: cover;

    h1 {
      margin-bottom: 50px;
      .font(75px);
    }

    h3 {
      margin-bottom: 40px;
      .font(40px);
    }

    .btn {
      a{
        text-decoration: none;
        color: white;
      }
      .button;

      &:hover {
        background: #d6ad21;
      }
    }
  }
}

/*Services article*/
#services {
  .wrapperToSection;
  padding-bottom: 0;

  h2 {
    .h2Title;
  }

  .description {
    .descr;
  }

  .services-wrap{
    padding-top: 70px;
    .clearfix;

    .services-item {
      float: left;
      padding: 100px 0;
      line-height: 0;
      width: 33%;

      h5 {
        .font(18px);
        text-transform: none;
      }

      p {
        font-size: 18px;
        color: #777;
        line-height: 24px;
        opacity: 0;
      }

      .services-item:last-child{
        margin-right: 0;
      }
    }
  }
}

/*Portfolio*/
#portfolio {
  .wrapperToSection;
  .clearfix;
  background: #f7f7f7;

  h2 {
    .h2Title;
  }

  .description {
    .descr;
  }

  .portfolio-wrap {
    padding-top: 80px;

    .portfolio-item {
      float: left;
      width: 31%;
      margin-right: 3.5%;
      margin-bottom: 50px;
      background-color: white;

      &:nth-child(3n){
        margin-right: 0;
      }

      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3){
        margin-bottom: 0;
      }

      .p-item-footer {
        padding: 25px 20px;

          h5 {
            .h5Title;
            margin-bottom: 4px;
          }
      }

      a {
        img:hover {
          opacity: .5;
          display: block;
          position: absolute;
          transition: all .5s;
          filter: grayscale(.8);
        }
      }
    }
  }
}

/*About*/
#about {
  .wrapperToSection;

  h2.title {
    .h2Title;
  }

  .description {
    .descr;
  }

  .about-wrap {
    padding-top: 70px;
    line-height: 24px;

    .about-item {
      .clearfix;

      .about-text {
        width: 35%;
        .left;

        h5 {
          margin-top: 0;
          .h5Title;
        }

        p {
          line-height: 24px;
          font-size: 16px;
          color: #777777;
        }
      }

      .about-img {
        width: 30%;
        float: left;
        text-align: center;

        img {
          display: inline-block;
          width: 170px;
          height: 170px;
          border: 7px solid #f1f1f1;
          box-sizing: border-box;

          -webkit-border-radius: 50%;
                  border-radius: 50%;
        }

        &:after {
          content: '';
          display: block;
          margin: 0 auto;
          height: 90px;
          width: 3px;
          background: #f1f1f1;
        }
      }

      &:nth-child(2),
      &:nth-child(4) {
        div.about-text {
          .right;
        }

        .about-img {
          float: right;
        }
      }
    }

    div.about-link {
      display: inline-block;
      width: 170px;
      height: 170px;
      border: 7px solid #f1f1f1;
      box-sizing: border-box;
      background: #fed136;
      position: static;
      -webkit-border-radius: 50%;
              border-radius: 50%;

      a {
        position: relative;
        top: 30px;
        left: 3px;
        margin-top: 30px;
        font: bold 18px/24px Arial;
        text-decoration: none;
        color: #ffefd4;
        text-transform: uppercase;

        text-shadow: 0 1px rgba(0,0,0,0.1);
      }
    }
  }
}

/*Team*/
#team {
  .wrapperToSection;
  background: #f7f7f7;

  h2.title {
    .h2Title;
  }

  .description {
    .descr;
  }

  .team {
    margin-top: 75px;

    .item-employer {
      .clearfix;
      display: inline-block;
      width: 220px;
      height: 220px;
      border: 7px solid white;
      margin-right: 45px;

      -webkit-border-radius: 50%;
              border-radius: 50%;

      img {
        &:hover {
          width: 220px;
          height: 220px;
        }
      }

      h3 {
        font-family: @mainFont;
        font-size: 16px;
        font-weight: bold;

        span {
          font-family: @mainFont;
          font-size: 14px;
          color: #777777;
        }
      }

      a {
        text-decoration: none;
        color: #222222;
        i {
          border: 2px solid #222222;
          width: 18px;
          height: 18px;
          margin: 0 5px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;

          &:hover {
            color: @mainColor;
            border: 2px solid @mainColor;
            -webkit-border-radius: 50%;
            border-radius: 50%;
          }
        }
      }
    }

    p {
      .descr;
      text-align: center;
      margin: 55px auto 0 auto;
      width: 500px;
    }
  }
}

/*Partners*/
#partners {
  .partners {
    margin: 60px 0;
    text-align: center;

    a {
      img {
        padding-right: 45px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

/*Contact*/
#contact {
  .wrapperToSection;
  text-align: center;
  background-image: url('/assets/img/contact_bg.png'), url('../../assets/img/contact_bg.png');
  background-size: cover;

  h2.title {
    .h2Title;
    color: white;
  }

  .description {
    .descr;
    margin-bottom: 80px;
  }

  form {
    .form-group {
      float: left;

      input {
        padding: @formPadding;
        height: 50px;
        width: 455px;
        margin-bottom: 30px;
        .borderRadiusSizing;

        &:nth-last-child(3) {
          margin-bottom: 0;
        }
      }
    }

    textarea {
      padding: @formPadding;
      float: right;
      height: 210px;
      width: 455px;
      .borderRadiusSizing;
    }

    button {
      position: relative;
      top: 40px;
      right: 225px;
      .button;

      &:hover {
        background: #d6ad21;
      }
    }
  }
}

footer {
  .container;
  height: 70px;
  padding-top: 20px;

  .copyright {
    float: left;
    position: absolute;

    .copyright-text {
      .font();
      text-transform: none;
      color: #5555;
    }
  }

  .social {
    text-align: center;
  }
}

/* --- Responsive --- */
/*Phone mode*/
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .button {
    height: 45px;
    width: 200px;
    display: inline-block;
    padding: 10px 15px;
    .font(16px);
  }

  header {
    .logo > a {
      float: left;
      padding-left: 30px;
    }
    .toggle {
      padding-right: 30px;
      float: right;
      display: block;
      width: 40px;
      height: 40px;
      &:hover {
        filter: brightness(.8);
      }
    }
    ul {
      margin-top: 0;
      display: none;
      background: #777;
      width: 100%;
      float: left;
      border: #5f5f5f 1px solid;
      border-right: none;
      border-left: none;
      .font(1.5em);
    }
  }

  #home {
    .home {
      h1 {
        margin-top: 10px;
        .font(2.5em);
      }
      h3 {
        margin-bottom: 10px;
        .font(1.2em);
      }
    }
  }

  #services {
    .services-wrap{
      padding-top: 0;
      .services-item {
        width: 100%;
        padding: 30px 0 0 0;
        p {
          opacity: 1
        }
        &:last-child {
          margin-bottom: 120px;
        }
      }
    }
  }

  #portfolio {
    .portfolio-wrap {
      .portfolio-item {
        background: none;
        width: 100%;
        a {
          img:hover {
            margin: 0 auto;
            position: inherit;
            opacity: 1;
            filter: grayscale(.5);
          }
        }
      }
    }
  }

  #about {
    .about-wrap {
      .about-item {
        margin-bottom: 30px;
        .about-text {
          width: 50%;
          float: left;
        }
        .about-img {
          width: 50%;
          float: right;

          img {
            width: 55%;
            height: 55%;
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }

  #team {
    .team {
      .item-employer {
        display: block;
        margin: 0 auto 120px auto;
        img {
          &:hover {
            width: 220px;
            height: 220px;
          }
        }
      }
      p {
        width: 75%;
      }
    }
  }

  #partners {
    .partners {
      margin: 0 auto 30px auto;
      a {
        img {
          margin-top: 30px;
          padding: 0 10px;
        }
      }
    }
  }

  #contact {
    background-size: cover;
    .description {
      margin-bottom: 50px;
    }
    form {
      .form-group {
        float: none;
      }
      textarea {
        float: none;
      }
      button {
        position: relative;
        top: 40px;
        right: 0;
        .button;

        &:hover {
          background: #d6ad21;
        }
      }
    }
  }

  footer {
    .container;
    height: 70px;
    padding-top: 20px;

    .copyright {
      float: left;
      position: absolute;
      padding-left: 30px;
    }

    .social {
      float: right;
      text-align: center;
      padding-right: 30px;
    }
  }
}

/*Tablet mode*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  header {
    .logo {
      a {
        padding-left: 10%;
        float: left;
      }
    }
    ul {
      padding: 0 10% 0 0;
      display: block;
      float: right;
      li {
        text-align: right;
        list-style: none;
        padding-right: auto;
        &:last-child {margin-right: 0}
        a{
          .font(.9em);
        }
      }
    }
  }

  #home {
    .home {
      h1 {
        margin-top: 10px;
        .font(3.5em);
      }
      h3 {
        margin-bottom: 10px;
        .font(1.5em);
      }
    }
  }

  #services {
    .services-wrap{
      margin-top: 30px;
      padding-top: 20px;
      .services-item {
        width: 100%;
        p {
          opacity: 1;
          width: 75%;
          margin: 0 auto;
        }
      }
      .commerce {
        padding-top: 70px;
        padding-bottom: 20px;
      }
      .responsive {
        padding-top: 70px;
        padding-bottom: 20px;
      }
      .security {
        padding-top: 70px;
      }
    }
  }

  #portfolio {
    .portfolio-wrap {
      .portfolio-item {
        background: none;
        width: 50%;
        float: left;
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  #team {
    .widthHeight {
      width: 180px;
      height: 180px;
    }
    .team {
      .item-employer {
        margin: 0 10px;
        .widthHeight;
        img {
          .widthHeight;
          &:hover {
            .widthHeight;
          }
        }
      }
    }
  }

  #partners {
    .partners {
      margin: 0 auto 30px auto;
      a {
        img {
          margin-top: 30px;
          padding: 0 5px;
        }
      }
    }
  }

  #contact {
    background-size: cover;
    .description {
      margin-bottom: 50px;
    }
    form {
      .container;
      .form-group {
        input {
          float: left;
          width: 280px;
        }
      }
      textarea {
        margin-left: 20px;
        float: right;
        width: 50%;
      }
      button {
        position: relative;
        right: 150px;
        .button;

        &:hover {
          background: #d6ad21;
        }
      }
    }
  }

  footer {
    .container;
    height: 70px;
    padding-top: 20px;
    .copyright {
      float: left;
      margin-left: 0;
    }
    .social {
      float: right;
    }
  }
}

/*Notebook mode*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 95%;
  }
  header {
    .logo {
      a {
        padding-left: 10%;
      }
    }
    ul {
      padding: 0 10% 0 0;
    }
  }
}
